[Desktop Entry]
Encoding=UTF-8
Name=EAGLE
Comment=EAGLE
Exec=/opt/eagle/bin/eagle
Icon=/opt/eagle/bin/eagleicon50.png
Terminal=false
Type=Application
Categories=GNOME;Application;Development;
StartupNotify=true