[Desktop Entry]
Encoding=UTF-8
Name=EAGLE
Comment=EAGLE
Exec=/opt/eagle-6.5.0/bin/eagle
Icon=/opt/eagle-6.5.0/bin/eagleicon50.png
Terminal=false
Type=Application
Categories=GNOME;Application;Development;
StartupNotify=true
X-XFCE-Source=file:///usr/share/applications/eagle.desktop
